.btn{
  background-color: transparent;
  color: white;
  border: solid 1px white;
}

.search-input{
  margin-right: 5px;
  min-width: 25rem;
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

@media (max-width: 767px) {
  .search-input {
    width: 130px;
    min-width: 0px;
  }

  .btn{
    width: 70px;
  }
}
